videos/*
.ipynb_checkpoints/
Heap.ipynb
Introduction to Probability MIT course.ipynb
Linear_Regression_on_Boston_Housing.ipynb
TP2-math-refresher.ipynb
TP3-perc-impl.ipynb
bordel_et_exemples.ipynb
brothers.ipynb
calc.ipynb
calcul_formel.ipynb
date.ipynb
dette.ipynb
jeu.ipynb
julia_courses.ipynb
modular.ipynb
rain.ipynb
sage_calcul_formel.ipynb
statistics.ipynb
test_expo.ipynb
xml_tags.html
xml_tags.ipynb